.datetime-select-input {
    height: 38px !important;
}

.datetime-select-input:hover {
    background-color: #444 !important;
    border-color: #444 !important;
}

.react-datepicker {
    min-width: 328px;
}
